<!DOCTYPE html>
<html>
    <head>
        <title>MyCards</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="header"></div>
        <div id="wrapper">
            <div id="leftArea">
                <div id="stack_1"></div>
                <div id="stack_2"></div>
                <div id="stack_3"></div>
            </div>
            <div id="rightArea">
                <div id="menuOptions"></div>
                <div id="workArea"></div>
            </div>
        </div>
        <div id="footer"></div>
    </body>
</html>
